# ====== PostgreSQL ======
DB_HOST=100.116.233.60
DB_PORT=5432
DB_USER=careflow
DB_PASS=careflow
POSTGRES_USER=careflow
POSTGRES_PASSWORD=careflow

# ====== RabbitMQ ======
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123

# ====== GitHub (chỉ cần trên máy Mac server) ======
GITHUB_USERNAME=your-github-username
